aiosqlite-0.20.0
asyncpg-0.30.0
aiogram-3.13.1 
pydantic-2.9.2 
pydantic_core-2.23.4
charset-normalizer-3.4.0 
urllib3-2.3.0
requests-2.32.3 
numpy-2.2.1
pandas-2.2.3
python-dateutil-2.9.0.post0
pytz-2024.2
six-1.17.0
tzdata-2024.2
matplotlib-3.10.0
python-decouple
python-3.10.5
